---
import VoteComponent from "../components/VoteComponent.astro";
import DiscountComponent from "../components/DiscountComponent.astro";
import NavbarComponent from "../components/NavbarComponent.astro";
import FooterComponent from "../components/FooterComponent.astro";
import HeroComponent from "../components/HeroComponent.astro";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Carros</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <main>
            <HeroComponent />
            <!-- <NavbarComponent /> -->
            <VoteComponent />
            <DiscountComponent />
            <FooterComponent />
        </main>
    </body>
</html>
