---
import VoteComponent from "../components/VoteComponent.astro";
import DiscountComponent from "../components/DiscountComponent.astro";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Carros</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <main>
            <h1>Elige el carro que mas te guste y obten un descuento!</h1>
            <VoteComponent />
            <DiscountComponent />
        </main>
    </body>
</html>
