---
import "../styles/global.css";

const query = `
  query GetDiscounts {
    posts(where: {categoryName: "descuentos"}) {
      nodes {
        title
        slug
        date
        featuredImage {
          node {
            sourceUrl
          }
        }
      }
    }
  }
`;

const response = await fetch("http://localhost/project-puq/graphql", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ query }),
});

const { data } = await response.json();
const posts = data.posts.nodes;
---

<div class="relative">
    <div
        class="text-center p-8 bg-gray-100 mx-auto rounded-xl mt-16 shadow-md relative"
    >
        <h4 class="font-extrabold text-3xl text-gray-800 mb-6 tracking-wide">
            Disfruta de los descuentos una vez hayas votado
        </h4>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-5xl mx-auto">
            {
                posts.map((post: any) => (
                    <div class="p-6 rounded-lg bg-white shadow-lg border border-gray-200 hover:shadow-xl transition-all duration-300 flex flex-col items-center text-center">
                        <img
                            src={
                                post.featuredImage?.node?.sourceUrl ||
                                "/default.jpg"
                            }
                            alt={post.title}
                            class="w-24 h-24 object-cover rounded-full mb-4"
                        />
                        <p class="text-sm text-gray-500">
                            Válido hasta:{" "}
                            {new Date(post.date).toLocaleDateString("es-CL")}
                        </p>
                        <p class="text-lg font-semibold text-gray-700 mb-2">
                            {post.title}
                        </p>
                        <p class="text-gray-600 text-sm mb-4">
                            ¡Aprovecha esta promoción exclusiva!
                        </p>
                        <button class="cursor-pointer mt-auto bg-indigo-400 text-white rounded-md px-6 py-3 transition-all hover:bg-indigo-600 hover:scale-105">
                            Canjear
                        </button>
                    </div>
                ))
            }
        </div>
    </div>

    <svg
        class="w-full -z-10"
        viewBox="0 0 1440 320"
        fill="#4f46e5"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill-opacity="1"
            d="M0,128L40,138.7C80,149,160,171,240,154.7C320,139,400,85,480,90.7C560,96,640,160,720,192C800,224,880,224,960,208C1040,192,1120,160,1200,144C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
        ></path>
    </svg>
</div>
