---
import "../styles/global.css";
---

<footer class="bg-black">
    <div class="text-white shadow-xl p-12 gap-y-2 text-center justify-center">
        <p>Desarrollado y diseñado por Diego Sanhueza</p>
        <p>diegosanhuezaaguilar@gmail.com</p>
        <p>Copyright 2025 ©</p>
    </div>
</footer>
