---
import "../styles/global.css";
import heroImage from "../assets/puq.jpeg";
import { Image } from "astro:assets";
---

<!-- component -->
<nav
    id="nav"
    class="fixed inset-x-0 top-0 flex flex-row justify-between z-10 text-white bg-transparent"
>
    <div class="p-4">
        <div class="font-extrabold tracking-widest text-xl">
            <a href="#" class="transition duration-500 hover:text-indigo-500"
                >Carnaval de invierno 2025</a
            >
        </div>
    </div>

    <!-- Nav Items Working on Tablet & Bigger Sceen -->
    <div class="p-4 hidden md:flex flex-row justify-between font-bold">
        <a
            id="hide-after-click"
            href="#about"
            class="mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500"
            >Municipalidad</a
        >
        <a
            href="#whyus"
            class="mx-4 text-lg border-b-2 border-transparent hover:border-b-2 hover:border-indigo-300 transition duration-500"
            >Contacto</a
        >
    </div>

    <!-- Burger Nav Button on Mobile -->
    <div id="nav-open" class="p-4 md:hidden">
        <!-- <Image src={heroImage} alt="imagen" /> -->
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
    </div>
</nav>

<!-- Opened Nav in Mobile, you can use javascript/jQuery -->
<div
    id="nav-opened"
    class="fixed left-0 right-0 hidden bg-white mx-2 mt-16 rounded-br rounded-bl shadow z-10"
>
    <div class="p-2 divide-y divide-gray-600 flex flex-col">
        <a href="#about" class="p-2 font-semibold hover:text-indigo-700"
            >Municipalidad</a
        >
        <a href="#whyus" class="p-2 font-semibold hover:text-indigo-700"
            >Contacto</a
        >
    </div>
</div>
<header
    id="up"
    class="bg-center bg-fixed bg-no-repeat h-screen relative"
    style={`background-image: url(${heroImage});`}
>
    <!-- Overlay Background + Center Control -->
    <div
        class="h-screen bg-opacity-50 bg-black flex items-center justify-center"
        style="background:rgba(0,0,0,0.5);"
    >
        <div class="mx-2 text-center">
            <h1
                class="text-gray-100 font-extrabold text-4xl xs:text-5xl md:text-6xl"
            >
                <span class="text-white">Carnaval de invierno</span> 2025
            </h1>

            <div class="inline-flex">
                <button
                    class="p-2 my-5 mx-2 bg-indigo-700 hover:bg-indigo-800 font-bold text-white rounded border-2 border-transparent hover:border-indigo-800 shadow-md transition duration-500 md:text-xl"
                    >Conoce los carros</button
                >
                <a href="#about"
                    ><button
                        class="p-2 my-5 mx-2 bg-transparent border-2 bg-indigo-200 bg-opacity-75 hover:bg-opacity-100 border-indigo-700 rounded hover:border-indigo-800 font-bold text-indigo-800 shadow-md transition duration-500 md:text-lg"
                        >Obten descuentos</button
                    ></a
                >
            </div>
        </div>
    </div>
</header>
